<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
	<connectionStrings>
		<add name="SomerenDatabase" connectionString="Data Source=85.190.254.173;
         Initial Catalog=2122_IT1d_db1; User=2122_IT1d_group1; Password=9m!q^2rp^#Ba"/>
		
	</connectionStrings>
</configuration>
